body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #241F29;
  color: #DDDBA9;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4 {
  margin: 0;
}

input {
padding: 5px;
margin: 10px;
width: 200px;
}

textarea {
padding: 5px;
margin: 10px;
width: 450px;
height: 100px;
}

label {
  margin: 10px;
}

form {
  padding: 40px;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
